<div class="game">
<div class="menu">
    <h1 id="title">SpotiCards</h1>
    <div class="create-form">
        <form action="/game" method="post">
            <input type="submit" value="Create Game" name="create_game_btn" class="btn btn-primary" id="create_game_btn" />
        </form>
    </div>
    <div class="join-button">
        <form action="/join" method="get">
            <input type="submit" value="Join a Game" name="join_btn" class="btn btn-primary" id="join_btn" />
        </form>
    </div>
</div>
</div>