<script src="js/join.js"></script>
<div class="game">
    <div class="menu">
        <h1 id="title">SpotiCards</h1>
        <div class="join">
            <form class="join-form" id="join-form">
                <input type="text" id="game_code" name="game_code" placeholder="Game Code">
                <input type="submit" id="join-game-btn" class="btn-primary btn" value="Join Game">
            </form>
            <p id="game-missing"></p>
        </div>
    </div>
</div>