<script src="/js/lobby.js"></script>
<div class="game">
  <div class="game-code-box">
    <h3>Game Code: </h3>
    <h3 id="game-code">{{gameCode}}</h3>
  </div>
  <div class="lobby">
    <a href="/">
      <h1 id="title">
        <img id="title-img" src="/img/habitune.png" alt="logo"/>Habitune
      </h1>
    </a>
    
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Lobby:</h5>
        <ul class="list-group list-group-flush" id="player-list"></ul>
        <p class="card-text" id="no-players">No players joined</p>
      </div>
    </div>

    <div class="lobby-ctrls">
      <!--
      <form action="/authorize" method="get" class="inline-form">
        <input type="submit" value="Add Player" name="add_player_btn" id="add_player_btn" class="btn btn-primary" />
      </form> 
      -->

      <form id="init-game" action="/game/{{id}}/init?_method=PUT" method="POST" class="inline-form">
        <input type="hidden" name="_method" value="PUT">
        <input type="submit" value="Start Game" id="start_game_btn" class="btn btn-primary" />
      </form>
    </div>
  </div>
</div>