<script src="/js/player.js"></script>
<div class="status-bar">
  <div id="bar-game-code">

  </div>
  <div id='question-num'>
    <span>Q1</span>
  </div>
</div>

<div class="player-game game">
    <div class="card" id="join-confirm">
      <div class="card-body">
        <h5 class="card-title">Join Confirmed. Your name should be on the screen.</h5>
      </div>
    </div>
    <div id="options">

    </div>
</div>

<div class="status-bar" id="bottom-bar">
  <div id="player-name"></div>
</div>