<script src="/js/player.js"></script>
<div class="status-bar">
  <div id="bar-game-code">

  </div>
  <div id='question-num'>
    <span>Q{{questionNum}}</span>
  </div>
</div>

<div class="player-game game">

    <div id="join-confirm">
      {{#unless game_active}}
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Join Confirmed. Your name should be on the screen.</h5>
        </div>
      </div>
      {{/unless}}
    </div>

    <div id="answer-confirm">
      {{#if answered}}
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">You answered! But how certain are you?</h5>
          </div>
        </div>
      {{/if}}
    </div>

    <div id="player-options">
      {{#each options}}
        <button id="option{{@index}}" class="btn btn-primary btn-lg btn-options" onclick="answerSubmit(event)">{{this}}</button>
      {{/each}}
    </div>
</div>

<div class="status-bar" id="bottom-bar">
  <div id="player-name"></div>
</div>