<script src="/js/join-confirm.js"></script>
<div class="game">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Join Confirmed. Your name should be on the screen.</h5>
      </div>
    </div>
</div>