<script src="/js/host.js"></script>
<div class="game">
    <div class="card" id="player-box">
        <div class="card-body">
            <h5 class="card-title">Players:</h5>
            <ul class="list-group list-group-flush" id="player-list"></ul>
        </div>
    </div>

    <h2 id="question-header">Question </h2>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title" id="question-text">Question Loading...</h5>
        </div>
    </div>

    <div id="options" class="options-field">
        <!--Buttons will be generated here-->
    </div>

    <div id="res-dismiss" onclick='endQuestion()' onmouseover="this.style.background='#30192F'"
        onmouseout="this.style.background='#696969'">Next</div>

</div>