<script src="/js/gameflow.js"></script>
<div class="game">
<h2 id="question-header">Question </h2>
<div class="card">
    <div class="card-body">
        <h5 class="card-title" id="question-text">Question Loading...</h5>
    </div>
</div>
<div class="game-score-box">
    <h4>Score: </h4>
    <h4 id="score"></h4>
  </div>

<div id="options" class="options-field">
    <!--Buttons will be generated here-->
</div>
<div id="result-box"></div>
<div id="res-dismiss" onclick='getQuestionInfo()' onmouseover="this.style.background='#30192F'" onmouseout="this.style.background='#696969'">Next</div>

</div>