<script src="/js/gameflow.js"></script>
<div class="game">
<h2 id="question-header">Question </h2>
<div class="card">
    <div class="card-body">
        <h5 class="card-title" id="question-text">Question Loading...</h5>
    </div>
</div>
<div id="options" class="options-field">
    <!--Buttons will be generated here-->
</div>
</div>