body {
    font-family: "Circular Spotify Tx T Bold";
    width: auto;
    height: 100%;
}

.game {
    text-align: center;
    color: white;
    font-family: "Circular Spotify Tx T Bold", proxima-nova, sans-serif;
    font-style: normal;
    height: 100vh;
    font-weight: 400;
    margin: 0;
    width: auto;
    background: rgb(2,0,36);
    background: linear-gradient(122deg, #FEC76C, #ED3EA4, #0042ff);
	background-size: 400% 400%;
	-webkit-animation: gradientBG 10s ease infinite;
    animation: gradientBG 30s ease infinite;
}

.player-game {
    height: 88vh;
}

.error {
    background-color: #191414;
    background: linear-gradient(122deg, #12f3b9, #bb2ac4, #0042ff);
    color: black;
    height: 100vh;
    text-align: center;
    background-size: 400% 400%;
}

@-webkit-keyframes gradientBG {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
@keyframes gradientBG {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
#title {
    color: white;
    font-family: "Circular Spotify Tx T Bold", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    width: auto;
    display: inline-block;
}

#title::after {
    background: linear-gradient(122deg, #FEC76C, #ED3EA4);
    content: "";
    width: 0;
    height: 3px;
    left: 0;
    bottom: 0;
    transition: width 0.35s ease 0s;
    position: inherit;
    display: block;
}

#title:hover::after {
    width: 100%;
}

#title-img{
    width: 75px;
    height: 75px;
    vertical-align: bottom;
    
}

#game-missing {
    color:red;
    text-align: center;
    font-family: proxima-nova, sans-serif;
}

#bar-game-code {
    width: auto;
    float: left;
    display: inline-block;
}

#question-num {
    float: right;
    display: inline-block;
    color: orange;
}

#question-header {
    top: 10px;
    margin-bottom: .7rem;
    position: relative;
}

#game_code {
    text-transform: uppercase;
    text-align: center;
}

#game_code::placeholder {
    text-align: center;
    text-transform: none;
}

#score {
    background-color: #191414;
    opacity: 0.90;
    text-align: center;
}

#join-confirm-card {
    text-align: center;  
    width: 60%;
}

#join-confirm {
    top: 40%;
    position: relative;
    left: auto;
}

#player-options {
    display: block;
    text-align: center;
}

#player-box {
    position: absolute;
    width: 300px;
    top: 0px;
    left: 0px;
    background-color: #191414;
    opacity: 0.90;
    margin-top: 10px;
    margin-left: 10px;
    padding: 10px;
    border-radius: 10px;
    display: inline-block;
}

.btn {
    position: relative;
    font-family: "Circular Spotify Tx T Bold", proxima-nova, sans-serif;
    font-style: normal;
    font-weight: 400;
    top: 5px;
    background-color: #1DB954;
    border-color: #1DB954;
    display: inline-block;
}

.btn-options {
    display: block;
    margin: auto;
    margin-bottom: 5px;
    width: 80%
}

.host-option {
    position: relative;
    font-family: "Circular Spotify Tx T Bold", proxima-nova, sans-serif;
    font-style: normal;
    font-weight: 400;
    top: 5px;
    background-color: #1DB954;
    border-color: #1DB954;
    display: inline-block;
    margin-top: 10px;
    margin-left: 10px;
    padding: 10px;
    border-radius: 10px;
}

.status-bar {
    padding: 10px;
    font-size: x-large;
    height: 5vh;
    width: 100%;

    white-space: nowrap;
    display: inline-block;
}

.menu {
    position: fixed;
    top: 40%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

.create-form {
    position: relative;
    top: 30px;
    text-align: center;
}

.join-button {
    position: relative;
    top: 40px;
    text-align: center;
}

.join {
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    position: relative;
    top: 30px;
    max-width: 18.75rem;
    min-width: 6.25rem;
    margin: 0 auto;
    color: rgb(51, 51, 51);
    font-size: 1.25rem;
    outline: none;
    font-family: "Circular Spotify Tx T Bold", proxima-nova, sans-serif;
}

.game-code-box {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #191414;
    opacity: 0.90;
    margin-top: 10px;
    margin-left: 10px;
    padding: 10px;
    border-radius: 10px;
    display: inline-block;
}

.game-score-box {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #191414;
    opacity: 0.90;
    margin-top: 10px;
    margin-left: 10px;
    padding: 10px;
    border-radius: 10px;
    display: inline-block;
}

.card {
    background-color: #191414;
    color: whitesmoke;
    position: relative;
    width: 400px;
    margin: auto;
    text-align: left;
    opacity: 0.85;
}

.card-title {
    font-weight: 600;
}

.lobby-ctrls {
    top: 10px;
    position: relative;
    margin: auto;
}

.inline-form {
    display: inline-block;
}

.lobby {
    position: relative;
    top: 25%;
}

.list-group-item {
    background-color: #191414;
    color: white;
}

#bottom-bar{
    bottom: 0;
}

#result-box{
    margin: auto;
    margin-top: 5%;
    /* centering text in box */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: "Circular Spotify Tx T Bold", proxima-nova, sans-serif;
    /* end centering text part */
    width: 200px;
    height: 50px;
    border-radius: 5px;
    position: relative;
}

#res-dismiss{
    margin: auto;
    margin-top: 10px;
    /* centering text in box */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-family: "Circular Spotify Tx T Bold", proxima-nova, sans-serif;
    /* end centering text part */
    width: 50px;
    height: 30px;
    cursor: pointer;
    border-radius: 25px;
    background-color: #696969;
    position: relative;
}